* {
    box-sizing: border-box;
}

body {
    margin: 0,0,0,0;
}

.clearfix {
    clear: both;
}

.header-banner {
    padding-top: 400px;
    padding-bottom: 400px;
    color: #ffffff;
    font-family: Helvetica, serif;
    font-weight: 100;
    background-color: #1a1a1a;
    background-image:url("../assets/MBD-icon-\(Transparent\).png");
    background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 1500px, 3400px;
    block-size: 100%;
}

.container-width {
    width: 100%;
    max-width: 1150px;
    margin: 0 auto;
}

.menu {
    overflow: hidden;
    position: absolute; /* Set the navbar to fixed position */
    top: 10px; /* Position the navbar at the top of the page */
    width: 85%; /* Full width */
}

.menu-item {
    float: right;
    font-size: 15px;
    color: #fff;
    width: 120px;
    padding: 10px;
    min-height: 50px;
    text-align: center;
    line-height: 30px;
    font-weight: 400;
}

.lead-title {
    margin: 150px 0 30px 0;
    font-size: 40px;
}

.sub-lead-title {
    max-width: 650px;
    line-height: 30px;
    margin-bottom: 30px;
    color: #c6c6c6;
}

.lead-btn {
    margin-top: 15px;
    padding: 10px;
    width: 190px;
    min-height: 30px;
    font-size: 20px;
    color:white;
    text-align: center;
    letter-spacing: 3px;
    line-height: 30px;
    background-color: #000000;
    border-radius: 5px;
    transition: all 0.5s ease;
    cursor: pointer;
}

.lead-btn:hover {
    background-color: #aec3fc;
    color: #000000;
}

.lead-btn:active {
    background-color: #4f4f4f;
    color: #000000;
}

.flex-sect {
    background-color: #1a1a1a;
    padding: 100px 0;
    font-family: Helvetica, serif;
}

.flex-title {
    margin-bottom: 15px;
    margin-top:0px;
    font-size: 4em;
    text-align: center;
    font-weight: 700;
    color: #fafafa;
    padding: 5px;
}

.flex-desc {
    margin-bottom: 55px;
    font-size: 1em;
    color: rgb(202, 206, 249);
    text-align: center;
    padding: 5px;
}

.cards {
    padding: 20px 0;
    display: flex;
    justify-content: space-around;
    flex-flow: wrap;
}

.card {
    background-color: white;
    height: 300px;
    width: 300px;
    margin-bottom: 30px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    transition: all 0.5s ease;
    font-weight: 100;
    overflow: hidden;
}

.card1 {
    background-image:url(../assets/HOF-History/1.png);
    background-size: cover;
}

.card2 {
    background-image:url(../assets/Concert-Band-Festival/1.png);
    background-size: cover;
}

.card3 {
    background-image:url(../assets/Band-Clinic/Mass-Director-Photo.jpeg);
    background-size: cover;
}

.card4 {
    background-image:url(../assets/Comingsoon.png);
    background-size: cover;
}

.card:hover {
    margin-top: -5px;
    box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.2);
}

.card-header {
    height: 155px;
    background-image: url("https://via.placeholder.com/350x250/78c5d6/fff");
    background-size: cover;
    background-position: center center;
}

.card-header.ch2 {
    background-image: url("https://via.placeholder.com/350x250/459ba8/fff");
}

.card-header.ch3 {
    background-image: url("https://via.placeholder.com/350x250/79c267/fff");
}

.card-header.ch4 {
    background-image: url("https://via.placeholder.com/350x250/c5d647/fff");
}

.card-header.ch5 {
    background-image: url("https://via.placeholder.com/350x250/f28c33/fff");
}

.card-header.ch6 {
    background-image: url("https://via.placeholder.com/350x250/e868a2/fff");
}

.card-body {
    padding: 15px 15px 5px 15px;
    color: #555;
}

.card-title {
    font-size: 1.4em;
    margin-bottom: 5px;
}

.card-sub-title {
    color: #b3b3b3;
    font-size: 1em;
    margin-bottom: 15px;
}

.card-desc {
    font-size: 0.85rem;
    line-height: 17px;
}

.d-flex{
    height: 260px;
}

.spotlight-sect {
    padding-top: 100px;
    padding-bottom: 100px;
    font-family: Helvetica, serif;
    background-color: #222222;
}

.img-phone {
    float: left;
}

.spotlight-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.spotlight-content {
    float: left;
    padding: 7px;
    width: 490px;
    color: #ffffff;
    font-weight: 100;
    margin-top: 50px;
}

.spotlight-pre {
    padding: 7px;
    color: #ffffff;
    font-size: 15px;
}

.spotlight-title {
    padding: 7px;
    font-size: 25px;
    font-weight: 400;
}

.spotlight-desc {
    padding: 7px;
    font-size: 17px;
    line-height: 25px;
}

.spotlight-post {
    padding: 7px;
    line-height: 25px;
    font-size: 13px;
}

.blk-sect {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #222222;
    font-family: Helvetica, serif;
}

.blk-title {
    color: #fff;
    font-size: 25px;
    text-align: center;
    margin-bottom: 15px;
}

.blk-desc {
    color: #b1b1b1;
    font-size: 15px;
    text-align: center;
    max-width: 700px;
    margin: 0 auto;
    font-weight: 100;
}

.price-cards {
    margin-top: 70px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.price-card-cont {
    width: 300px;
    padding: 7px;
    float: left;
}

.price-card {
    margin: 0 auto;
    min-height: 350px;
    background-color: #aec3fc;
    border-radius: 5px;
    font-weight: 100;
    color: #050558;
    width: 90%;
}

.pc-title {
    font-weight: 100;
    letter-spacing: 3px;
    text-align: center;
    font-size: 25px;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.pc-desc {
    padding: 75px 0;
    text-align: center;
}


.footer-under {
    background-color:#2a2a2a;
    padding-top: 100px;
    min-height: 500px;
    color: #eee;
    position: sticky;
    font-weight: 100;
    font-family: Helvetica, serif;
}

.copyright {
    background-color: rgba(0, 0, 0, 0.15);
    color: rgba(238, 238, 238, 0.5);
    bottom: 0;
    padding: 1em 0;
    position: absolute;
    width: 100%;
    font-size: 0.75em;
}

.made-with {
    float: left;
    width: 50%;
    padding: 5px 0;
}

.foot-social-btns {
    display: none;
    float: right;
    width: 50%;
    text-align: right;
    padding: 5px 0;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-around;
}

.foot-list {
    float: left;
    width: 200px;
}

.foot-list a{
    display: block;

}
.foot-list-title {
    font-weight: 400;
    margin-bottom: 10px;
    padding: 0.5em 0;
}

.foot-list-item {
    color: rgba(238, 238, 238, 0.8);
    font-size: 0.8em;
    padding: 0.5em 0;
}

.foot-list-item:hover {
    color: rgb(149, 157, 243);
}

.foot-form-cont {
    width: 300px;
    float: right;
}

.foot-form-title {
    color: rgba(255, 255, 255, 0.75);
    font-weight: 400;
    margin-bottom: 10px;
    padding: 0.5em 0;
    text-align: right;
    font-size: 2em;
}

.foot-form-desc {
    font-size: 0.8em;
    color: rgba(105, 104, 104, 0.712);
    line-height: 20px;
    text-align: right;
    margin-bottom: 15px;
}

.sub-input {
    width: 100%;
    margin-bottom: 15px;
    padding: 7px 10px;
    border-radius: 2px;
    color: #ffffff;
    background-color: #444a5f;
    border: none;
}

.sub-btn {
    width: 100%;
    margin: 15px 0;
    background-color: #000000;
    border: none;
    color: #fff;
    border-radius: 2px;
    padding: 7px 10px;
    font-size: 1em;
    cursor: pointer;
}

.sub-btn:hover {
    background-color: #aec3fc;
}

.sub-btn:active {
    background-color: #777;
    color:#000000
}

.bdg-sect {
    padding-top: 100px;
    padding-bottom: 100px;
    font-family: Helvetica, serif;
    background-color: #1a1a1a;
}

.bdg-title {
    text-align: center;
    font-size: 2em;
    margin-bottom: 55px;
    color: #ffffff;
}

.badges {
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
}

.badge {
    width: 290px;
    font-family: Helvetica, serif;
    background-color: white;
    margin-bottom: 30px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    font-weight: 100;
    overflow: hidden;
    text-align: center;
}

.badge-header {
    height: 115px;
    background-color: #aec3fc;
    background-image: url("../assets/Concert-Band-Festival/1.png");
    background-position: center center, center center;
    background-attachment: fixed;
    overflow: hidden;
}

.badge-name {
    font-size: 1.4em;
    margin-bottom: 5px;
    color:#777
}

.badge-role {
    color: #777;
    font-size: 1em;
    margin-bottom: 25px;
}

.badge-desc {
    font-size: 0.85rem;
    line-height: 20px;
}

.badge-avatar {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    border: 5px solid #fff;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
    margin-top: -75px;
    position: relative;
}

.badge-body {
    margin: 35px 10px;
}

.badge-foot {
    color: #fff;
    background-color: #aec3fc;
    padding-top: 13px;
    padding-bottom: 13px;
    display: flex;
    justify-content: center;
}

.badge-link {
    height: 35px;
    width: 35px;
    line-height: 35px;
    font-weight: 700;
    background-color: #fff;
    color: #aec3fc;
    display: block;
    border-radius: 100%;
    margin: 0 10px;
}

.about-section h1{
    color:#050558;
    font: bold;
}

.about-section h2{
    color: #222222;
    text-align: center;
}
.officers-section{
    padding: 50px;
    text-align: center;
    background-color: #474e5d;
    color: white;
}

.officers-section.h1{
    text-align:center
}

.officer-column {
    float: left;
    width: 25%;
    margin-bottom: 16px;
    padding: 0 8px;
  }
  
  .officer-card {
    box-shadow: 0 4px 8px 0 rgba(115, 149, 250, 0.913);
    margin: 8px;
    width: 100%;
  }
  
  .officer-container {
    padding: 0 16px;
  }
  
  .officer-container::after, .officer-row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .officer-title {
    color: grey;
  }
  
  .officer-button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
  }

  .button:hover {
    background-color: #555;
  }
  
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }


@media (max-width: 768px) {
    .foot-form-cont {
        width: 400px;
    }

    .foot-form-title {
        width: autopx;
    }
}

@media (max-width: 480px) {
    .foot-lists {
        display: none;
    }
}